* {
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    width: 300px;
    margin: auto;
    overflow: hidden;
    /* in case imgs are too big */
}

.slide {
    width: 100%;
    height: 300px;
    margin: auto;
    display: none;
    transition: 2s;
}

.displaySlide {
    /* images that have the class */
    display: block;
}

.slider button {
    padding: 12px 16px;
    cursor: pointer;
    background: none;
    border: none;
    color: #bb0c0c;

    position: absolute;
    top: 40%;
}

.slider .prev {
    left: 0;
}

.slider .next {
    right: 0;
}

/* ! Why the other properties of the class slide such as width, height and margin are not removed 
when the class slide is removed */
/* ! but convaniently enough, only properties that contradicts displaySlide class get removed */