* {
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;  /* in case imgs are too big */
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {  /* images that have the class */
    display: block;
}